<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

   <context:property-placeholder location="classpath:sport.properties"/>
   <bean id="myfortune"
        class="springsdemo1.HappyFortune">
  
   </bean>


	<bean id="mycoach"
				class="springsdemo1.BaseballCoach">
	
	<constructor-arg    ref="myfortune">
	</constructor-arg>
	     
	</bean>
	<bean id="mycricket" class="springsdemo1.CricketCoach">
	<property name="FortuneService" ref="myfortune">
	</property>
	<property name="emailaddress" value="${foo.email}"/>
	<property name="team" value="${foo.team}"/>
	
	
	</bean>
	
	
	
	
   </beans>





